*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5%;
}
/*INDEX*/
/*HEADER*/

.whatsapp img {
    width: 55px;
    height: 55px;
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #12e671;
    color: #fff;
    border-radius: 50px;
    text-align: center;
}


.container-fluid img {
    width: 100px;
    height: 100px;
}

.menuPrincipal {
    background-color: #F3D5B5;
}
.tituloPrincipal {
    font-family:'Arial Narrow';
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 30px 20px;
}
header h3{
    text-align: center;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px 20px;
}


/*SECTION INDEX*/

.navegacionIndex {
    margin: 10px 10px;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.navegacionIndex img {
    width:350px ;
    height: 300px;
    transition: height 3s;
}
.containerIndex img:hover {
    width: 450px;
}
.tituloDestacados{
    font-family:'Times New Roman';
    padding: 20px;
    font-style: italic;
    color: black;
    background-color: #F3D5B5;
    text-align: center;
}

.container img {
    height: 150px;
    width: 150px;
}


@keyframes efecto_color {
    0% {background-color: white;}
    20% {background: #E9EDC9;}
    40% { background-color: #f8fcd2;}
    60% { background-color: #e7c8a0;}
    80% {background-color: #FAEDCD; }
    100% {background-color: #D4A373;}
}
.tituloDestacados {
    animation-name: efecto_color;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
}

.carrusel img {
    height: 300px;
    width: 300px;
}


/*PAGINA PRODUCTOS*/
/*HEADER PRODUCTOS*/

#headerProductos {
    background-color: #F3D5B5; 
}

/*SECTION PRODUCTOS*/ 

.seccionProductos p {
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: left;
}


.seccionProductos {
    background-color: #F3D5B5;
    padding: 20px 20px;
}
.seccionProductos h3 {
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: left;
}
.formularioProductos {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px ;
    text-align: center;

}
.formularioProductos p {
    padding: 10px;
}


.productosEnVenta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:baseline
}

.productosEnVenta img {
    width: 200px;
    height: 200px;
}

/*PAGINA MI CUENTA*/
/*HEADER MI CUENTA IDEM ANTERIOR*/

/*SECTION MI CUENTA*/

.datosPersona {
    background-color:white ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px ;
}
.datosPersona label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.form-check-label {
    font-style: italic;
    text-align: left;
}
.container {
    background-color: black;
    color: white; 
}
.registrarseAca label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.registrate h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    display: flex;
    align-items: center;
}

/*PAGINA EMPRESA*/

/* EMPRESA - TEXTOS*/
.primerParrafo {
    background-color: #F3D5B5; }
    .primerParrafo h3 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center; }
    .primerParrafo p {
    line-height: 30px;
    font-size: 15px;
    padding: 20px; }
    .primerParrafo:hover {
    font-size: 30px; }

.segundoParrafo {
    background-color: #FAEDCD; }
    .segundoParrafo h3 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: left; }
    .segundoParrafo p {
    line-height: 30px;
    font-size: 15px;
    padding: 20px; }
    .segundoParrafo:hover {
    font-size: 30px; }

.texto1 {
    padding: 10px;
    background-color: #f5d7bd;
    font-style: oblique;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

.contenedorImgTextos img {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.texto1 img {
    width: 400px;
    height: 400px;
}

.contenedorCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:baseline
}
/*PAGINA CONTACTO*/
/*HEADER CONTACTO IDEM INDEX*/

/*SECTION CONTACTO*/

.contactoTitulo {
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: left;
    background-color: #F3D5B5;
}

.mapa iframe{
    width: 150px;
    height: 150px;
    transition: height 2s;
}
.mapa iframe:hover {
    height: 200px;

}

.containerContacto {
    display: flex;
    flex-direction: column;
    background-color:#FAEDCD;
    text-align: center;
    font-family: monospace;
    
}
.contenedorInfo {
    background-color: #FAEDCD;
    text-align: center;
    font-family: monospace;
}



/*FOOTER DE TODAS LAS PAGINAS*/
.facebookImg {
    width: 55px;
    height: 55px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #fff;
    color: #fff;
    border-radius: 50px;
    text-align: center;
}

.twitterImg{
    width: 55px;
    height: 55px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #fff;
    color: #fff;
    border-radius: 50px;
    text-align: center;
}

.instagramImg {
    width: 55px;
    height: 55px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #fff;
    color: #fff;
    border-radius: 50px;
    text-align: center;
}
.pie-pagina{
    width: 100%;
    background-color: #292b2c;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color:#292b2c;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #292b2c;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

/*RESPONSIVE TABLET*/

@media screen and (max-width: 765px){
    
    .contenedorLogoPrincipal {
            background-color: #e7c8a0;
            align-content: flex-start;
            align-items: flex-start;      
}
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width:500px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

@media screen and (max-width:500px){
    .whatsapp img{
        display: flex;
        flex-direction: column;
    }
}



/*RESPONSIVE CELULAR*/

@media screen and (max-width:320px) {
    .contenedorDestacados {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width:250px ;
        height: 200px;
    }
    .texto1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 765px) {
    .texto1 p {
        display: gri;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .textoOrigen { 
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
}


