*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62,5%;
}
/*INDEX*/
/*HEADER*/

.whatsapp img {
    width: 55px;
    height: 55px;
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #12e671;
    color: #fff;
    border-radius: 50px;
    text-align: center;
}

.contenedorLogoPrincipal {
    padding: 10px 10px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #F3D5B5;
}
.contenedorLogoPrincipal img{

    width:150px ;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container-fluid img {
    width: 100px;
    height: 100px;
}

.menuPrincipal {
    background-color: #F3D5B5;
}
.tituloPrincipal {
    font-family:'Arial Narrow';
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 30px 20px;
}
header h3{
    text-align: center;
    color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px 20px;
}

.menu{
    background-color:#F3D5B5;
}

.menu li{
    display: inline-block;
    position: relative;
    font-size: 20px;
    padding: 10px 10px;
    margin: 10px;

}
.menu li a{
    text-decoration: none;
}
.submenu{
    display: none;
    position: absolute;
}

.submenu li a {
    color: black;
}


.logoWhatsapp {
    max-width: 80px;
    max-height: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#12e671;
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: hidden; 
}
.logoWhatsapp h3 {
    background-color: #12e671;
}


/*SECTION INDEX*/

.navegacionIndex {
    margin: 10px 10px;
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.navegacionIndex img {
    width:350px ;
    height: 300px;
    transition: height 3s;
}
.navegacionIndex img:hover {
    height:350px ;
}
.tituloDestacados{
    font-family:'Times New Roman';
    padding: 20px;
    font-style: italic;
    color: black;
    background-color: #F3D5B5;
    text-align: center;
}
.contenedorDestacados img {
    width:250px ;
    height: 200px;
}

.container img {
    height: 150px;
    width: 150px;
}

.containerIndex { 
    padding-right: 0px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: stretch;
    grid-template-rows: 1fr 1fr 1fr;
    display: grid;
    gap: 0px 0px;
    align-items: center;
    grid-auto-flow: row;
    grid-template-areas:
    "destacado2 destacado2 destacado3"
    "destacado2 destacado2 cafeventa3"
    "cafeventa4 cafeventa1 wildImg";
}

.destacado2 { grid-area: destacado2; }

.destacado3 { grid-area: destacado3; }

.cafeventa3 { grid-area: cafeventa3; }

.cafeventa4 { grid-area: cafeventa4; }

.cafeventa1 { grid-area: cafeventa1; }

.wildImg { grid-area: wildImg; }

.destacado2 img {
    width: 600px;
    height: 600px;
}
.cafeventa3 img{
    width: 300px;
    height: 300px;
}
.cafeventa4 img {
    width: 300px;
    height:300px;
}
.wildImg img {
    width: 300px;
    height: 300px;
}
.cafeventa1 img {
    width: 300px;
    height: 300px;
}
.destacado3 img {
    width: 300px;
    height: 300px;
}

@keyframes efecto_color {
    0% {background-color: white;}
    20% {background: #E9EDC9;}
    40% { background-color: #f8fcd2;}
    60% { background-color: #e7c8a0;}
    80% {background-color: #FAEDCD; }
    100% {background-color: #D4A373;}
}
.tituloDestacados {
    animation-name: efecto_color;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 3s;
}

.carrusel img {
    height: 300px;
    width: 300px;
}

/*FOOTER INDEX*/

#footer {
    padding: 50px 50px;
    background-image:linear-gradient(to right, #E9EDC9, #FAEDCD);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    display: flex;
    justify-content: row;
    justify-content: space-around;
}
.pieDePagina img{
    width: 100px;
    height: 100px;
}
.pieDePagina h3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}



/*PAGINA PRODUCTOS*/
/*HEADER PRODUCTOS*/

#headerProductos {
    background-color: #F3D5B5; 
}

/*SECTION PRODUCTOS*/ 

.seccionProductos p {
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: left;
}


.seccionProductos {
    background-color: #F3D5B5;
    padding: 20px 20px;
}
.seccionProductos h3 {
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: left;
}
.formularioProductos {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px ;
    text-align: center;

}
.formularioProductos p {
    padding: 10px;
}


.productosEnVenta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:baseline
}

.productosEnVenta img {
    width: 200px;
    height: 200px;
}

/*FOOTER PRODUCTOS*/

#footerProductos {
    padding: 50px 50px;
    background-image:linear-gradient(to right, #E9EDC9, #FAEDCD);
    display: flex;
    justify-content: row;
    justify-content: space-around;
    align-items: flex-start;
}


/*PAGINA MI CUENTA*/
/*HEADER MI CUENTA IDEM ANTERIOR*/

/*SECTION MI CUENTA*/

.datosPersona {
    background-color:white ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px ;
}
.datosPersona label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.form-check-label {
    font-style: italic;
    text-align: left;
}
.container {
    background-color: black;
    color: white; 
}
.registrarseAca label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.registrate h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    display: flex;
    align-items: center;
}

/*FOOTER MI CUENTA*/
#footerMiCuenta {
    padding: 50px 50px;
    background-image:linear-gradient(to right, #E9EDC9, #FAEDCD);
    display: flex;
    justify-content: row;
    justify-content: space-around;
}

/*PAGINA EMPRESA*/
/*HEADER EMPRESA*/

.submenuEmpresa li{
    background-image:radial-gradient(#fbfaf8,#D4A373 );;
    padding: 30px 30px;
}
/*SECTION EMPRESA*/

.submenuEmpresa h4{
    background-color:#e7c8a0;
    padding: 30px 30px;
    border: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px ;
    text-align: center;
}




.etiquetaHistoria {
    background-image:radial-gradient(#fbfaf8,#D4A373 );
    }

.etiquetaHistoria p {
    padding: 30px 30px;
    display: flex;
    text-align: center;
    

}
.wild {
    background-color:#e7c8a0;
    padding: 30px 30px;
    border: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:20px ;
    text-align: center;
    }

.historia {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*FOOTER EMPRESA*/

#footerEmpresa {
    padding: 50px 50px;
    background-image:linear-gradient(to right, #E9EDC9, #FAEDCD);
    display: flex;
    justify-content: row;
    justify-content: space-around;
}

/*PAGINA CONTACTO*/
/*HEADER CONTACTO IDEM INDEX*/

/*SECTION CONTACTO*/

.contactoTitulo {
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: left;
    background-color: #F3D5B5;
}

#contenedorContacto {
    background-color:#FFEDD8;
    padding: 10px;
    font-family:monospace;
    font-size:20px ;
    text-align: center;
}
.mapa iframe{
    width: 150px;
    height: 150px;
    transition: height 2s;
}
.mapa iframe:hover {
    height: 200px;

}


#footerContacto {
    padding: 50px 50px;
    background-image:linear-gradient(to right, #E9EDC9, #FAEDCD);
    display: flex;
    justify-content: row;
    justify-content: space-around;
}


/*RESPONSIVE TABLET INDEX*/

@media screen and (max-width: 765px){
    
    .contenedorLogoPrincipal {
            background-color: #e7c8a0;
            align-content: flex-start;
            align-items: flex-start;      
}
    .navegacionIndex{
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: stretch;
    }
}

/*RESPONSIVE CELULAR INDEX*/
@media screen and (max-width: 500px) {
    .menu {
        display: flex;
        flex-direction: column;
    }
    .navegacionIndex {
        display: flex;
        flex-direction: column-reverse;
    }  
    .navegacionIndex img {
        width:250px ;
        height: 200px;
    }
}
@media screen and (max-width:320px) {
    .contenedorDestacados {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width:250px ;
        height: 200px;
    }
    .texto1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 765px) {
    .texto1 p {
        display: gri;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .textoOrigen { 
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
        }
    
    .texto1 img {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

/*RESPONSIVE TABLET EMPRESA*/


/*TEXTOS*/
.primerParrafo {
    background-color: #F3D5B5; }
    .primerParrafo h3 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center; }
    .primerParrafo p {
    line-height: 30px;
    font-size: 15px;
    padding: 20px; }
    .primerParrafo:hover {
    font-size: 30px; }

.segundoParrafo {
    background-color: #FAEDCD; }
    .segundoParrafo h3 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: left; }
    .segundoParrafo p {
    line-height: 30px;
    font-size: 15px;
    padding: 20px; }
    .segundoParrafo:hover {
    font-size: 30px; }

.texto1 {
    padding: 10px;
    font-style: oblique;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    }


.texto1 img {
    width: 400px;
    height: 400px;
}

.textoOrigen p {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/*FOOTER*/
#footerTexto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}