@import "footer";
@import "texto";
@import "variables";


h3 {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}








h1 {
    color:aquamarine;
}

header {
    p{
        font-size: 15px;
    }
}
